@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

* {
  font-family: "Silkscreen", cursive;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
}
body {
  margin: 0% 25%;
  /* font-family: "Roboto", sans-serif; */
  background-color: #000000;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  font-family: "Brand";
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 0rem;
  font-weight: bold;
}
h6 {
  font-size: 1rem;
}
ol,
ul {
  padding-left: 1.5rem;
}
a {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  body {
    margin: 0% 0%;
  }
  nav {
    padding: 3rem 0rem;
  }
}

/* Default styling: */
/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
