.homepagetitle h1 {
  margin-top: 3rem;
  margin-bottom: 0rem;
  text-align: center;
  color: #66ff8f;
  font-size: 3rem;
}
.homepagetitle h1::selection {
  color: #ffffff;
  background-color: #8f66ff;
}

.title h1 {
  color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  font-size: 2rem;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 3rem;
}

.backtotop {
  padding-top: 8rem;
  padding-bottom: 4rem;
  text-align: center;
  /* vertical-align: middle; */
}
.backtotop a {
  color: #8f66ff;
}
.backtotop a:hover {
  color: #8f66ff;
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
  .main {
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 1rem;
  background-color: #000000;
  color: #66ff8f;
  min-height: 40px;
}
.logo {
  height: 100%;
  width: 38vw;
  min-width: 300px;
  color: #66ff8f;
  text-decoration: none;
  letter-spacing: 10px;
  font-size: 22px;
}
.logo a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.logo a:hover {
  color: #000000;
  background-color: #66ff8f;
  font-weight: 700;
  letter-spacing: 7px;
}
.navlinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6vh;
  width: 50vw;
  min-height: 40px;
  z-index: 1;
}
.navlinks li {
  list-style: none;
  width: 12.5vw;
  height: 100%;
}
.navlinks a {
  width: 100%;
  height: 100%;
  color: #66ff8f;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navlinks a:hover {
  background-color: #f73325;
  color: #000000;
  font-weight: 700;
}
.burger {
  display: none;
  cursor: pointer;
  height: 6vh;
  width: 70px;
  vertical-align: middle;
}
.burgerinner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.burgerinner div {
  width: 40%;
  height: 2px;
  background-color: #66ff8f;
  margin: 4px;
  transition: all 0.1s ease;
}
.burger:hover {
  background-color: #8949e9;
  /* background-color: #9e7166; */
  /* background-color: #6c6c6c; */
}

/* previous css */
/* .container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
